.agent-table {
  margin-top: 50px;
  width: 500px;
  margin-left: 400px;
}

.agent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  /* margin-right: 100px; */
  margin-bottom: 50px;
}

.agent-block {
  max-width: 900px;
  width: 100%;
  margin: auto;
}
