.agent-table {
  margin-top: 50px;
  width: 500px;
  margin-left: 400px;
}

.agent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  /* margin-right: 100px; */
  margin-bottom: 50px;
}

.agent-block {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.agent-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.agent-input {
  width: 250px;
}
