.side-panel-wrapper {
  background: rebeccapurple;
  height: 100vh;
  padding: 10px 15px 10px 10px;
}

.side-panel-wrapper .company-logo-name {
  height: 70px;
  font-size: 30px;
  margin-top: 20px;
  font-weight: 700;
  gap: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}

.company-title {
  margin: 0;
}

.side-panel-wrapper .company-logo-name .company-logo {
  width: 70px;
  display: flex;
  justify-content: center;
}

.side-panel-wrapper .company-logo-name .company-name {
  display: none;
}

.side-panel-wrapper .side-panel-item a {
  display: flex;
  column-gap: 5px;
  color: black;
  text-decoration: none;
  justify-content: center;
}

.side-panel-wrapper .side-panel-item {
  display: flex;
  align-items: center;
}

.side-panel-wrapper .side-panel-item a:hover {
  color: white;
  transition: color 0.5s ease-out;
}

.side-panel-wrapper .side-panel-item .side-panel-item-icon {
  height: 40px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-panel-wrapper .side-panel-item .side-panel-item-icon.active-item {
  border-radius: 50%;
  color: white;
  background: #985ed3;
}

.side-panel-wrapper .side-panel-item .side-panel-item-title {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  display: none;
}

.side-panel-wrapper .side-panel-item .side-panel-item-icon svg {
  height: 100%;
  width: 100%;
}

.item-title {
  font-size: 20px;
  font-weight: 700;
  align-items: center;
}
